{% extends 'layouts/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="Naya, Benja y Marcelo">
    <title>{% block title %}Ramazon{% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/csstyle.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Logo Rmazon 2.0.png'%}">
</head>

<body>

    {% block content%}
    <!--podria ir un carrusel -->
    <section class="about" id="about">
        <h1 class="heading"><span>Inicia </span>Sesion </h1>
        <div class="row">
            <div class="image">
                <img src="{% static 'img/login.png'%}" alt="imagenlogin">
            </div>
            <div class="content">
                <h3>Inicia sesión aqui o registrate si no tienes una cuenta.</h3>

                <a href="login" class="btn">Iniciar sesión </a>

            </div>

        </div>
    </section>
    {% endblock %}

    {% block cookies%}
    <!--      -->
    <div class="cookies-box">
        <div class="container-cookies">
            <div class="paragraphs">
                <p>Usamos cookies para mejorar su experiencia de navegación en nuestra web, para mostrarles contenido
                    personalizado y para analizar el tráfico de nuestra web.<button id="ver_pol"> Politicas de
                        cookies.</button></p>
            </div>

            <div class="buttons">
                <button id="aceptar_cookie">Aceptar</button>
                <button id="close">Cerrar</button>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="titulo">
            <h2>Politicas de cookies</h2>
            <button id="close_modal">X</button>
        </div>
        <div class="parrafo">
            <p>Esta web utiliza cookies propias y de terceros para ofrecerle una mejor experiencia y servicio. Al
                navegar o utilizar nuestros servicios acepta el uso que hacemos de las cookies. Sin embargo, tiene la
                opción de impedir la generación de cookies y la eliminación de las mismas mediante la selección de la
                correspondiente opción en su Navegador. En caso de bloquear el uso de cookies en su navegador es posible
                que algunos servicios o funcionalidades de la página Web no estén disponibles.</p>
        </div>
        <div class="aceptar">
            <button id="aceptar_modal">Aceptar</button>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script src="../js/javaprin.js"></script>
    <script src="../js/cookies.js"></script>
    {% endblock%}

</body>

</html>