{% extends 'layouts/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/csstyle.css">
    <link rel="stylesheet" href="../css/carrusel.css">
    <link rel="icon" type="image/x-icon" href="../img/Logo Rmazon 2.0.png">
</head>
<body>
    
{% block content %}

<section class="menu" id="menu">


    <h1 class="heading">Coci<span>na </span> </h1>

    <div class="box-container">
        <div class="box">
            <img src="{% static 'img/Frutero Barret.jpg'%}" alt="Frutero">
            <h3>Frutero Barret 3 Pisos </h3>
            <div class="price">$999.990 <span>1.299.990</span></div>
            <a href="#" class="btn">ver mas </a>
        </div>

        <div class="box">
            <img src="{% static 'img/Tostadora Thomas.jpg'%}%" alt="Tostadora">
            <h3>Tostadora Thomas</h3>
            <div class="price">$299.990 <span>349.990</span></div>
            <a href="#" class="btn">ver mas </a>
        </div>

        <div class="box">
            <img src="{% static 'img/Set ollas Brinox.jpg'%}" alt="Ollas">
            <h3>Set Ollas y Sartenes Brinox</h3>
            <div class="price">$549.990 <span>799.990</span></div>
            <a href="#" class="btn">ver mas </a>
        </div>

        <div class="box">
            <img src="{% static 'img/Set 6 cuchillos.jpg'%"} alt="Cuchillos">
            <h3>Set 6 Cuchillos</h3>
            <div class="price">$179.990 <span>239.990</span></div>
            <a href="#" class="btn">ver mas </a>
        </div>

        <div class="box">
            <img src="{% static 'img/Platos Hawai Rojos.jpg'%}" alt="Platos">
            <h3>Set Platos Hawai Rojos</h3>
            <div class="price">$889.000 <span>990.990</span></div>
            <a href="#" class="btn">ver mas</a>
        </div>

        <div class="box">
            <img src="{% static 'img/Nevera Mabe.png'%}" alt="Nevera">
            <h3>Nevera Mabe</h3>
            <div class="price">$569.000 <span>799.990</span></div>
            <a href="#" class="btn">ver mas</a>
        </div>
        <div class="box">
            <img src="{% static 'img/Horno Midea.jpg'%}" alt="Horno">
            <h3>Horno Electrico Midea</h3>
            <div class="price">$689.000 <span>790.990</span></div>
            <a href="#" class="btn">ver mas</a>
        </div>
        <div class="box">
            <img src="{% static 'img/Licuadora Yutai.jpg'%}" alt="Licuadora">
            <h3>Licuadora Yutai</h3>
            <div class="price">$1.299.990 <span>1.590.990</span></div>
            <a href="#" class="btn">ver mas</a>
        </div>
        <div class="box">
            <img src="{% static 'img/Batidora de Pedestal.jpg'%}" alt="Batidora">
            <h3>Batidora de Pedestal</h3>
            <div class="price">$589.990 <span>690.990</span></div>
            <a href="#" class="btn">ver mas</a>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>