{% extends 'layouts/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramazon </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/csspaginanote.css">
    <link rel="stylesheet" href="../css/carrusel.css">
    <link rel="icon" type="image/x-icon" href="../img/Logo Rmazon 2.0.png">

</head>

<body>
    {% block content %}

    <section class="menu" id="menu">


        <h1 class="heading">NOTEBOOKS <span>Y PC  </span> </h1>

        <div class="box-container">
            <div class="box">
                <img src="{% static 'img/pc1.png'%}" alt="imagen Notebook hp desktop">
                <h3>HP DESKTOP VICTUS</h3>
                <div class="price">$969.000 <span>$1.299.990</span></div>
                <a href="{% url 'note1'%}" class="btn">ver mas </a>
            </div>

            <div class="box">
                <img src="{% static 'img/pc4.png'%}" alt=" imagen hp all in one ">
                <h3>All IN ONE INSPIRON </h3>
                <div class="price">$909.990 <span>$1.199.990</span></div>
                <a href="{% url 'note2'%}" class="btn">ver mas</a>
            </div>
            
            <div class="box">
                <img src="{% static 'img/pc2.png'%}" alt="Notebook hp pavilion">
                <h3>HP AIO PAVILION 27 </h3>
                <div class="price">$849.990 <span>$999.990</span></div>
                <a href="{% url 'note3'%}" class="btn">ver mas </a>
            </div>

            <div class="box">
                <img src="{% static 'img/note.png'%}" alt="Notebook asus gamer tuf gaming">
                <h3>NOTEBOOK GAMER TUF GAMING </h3>
                <div class="price">$1.269.000 <span>$1.599.990</span></div>
                <a href="{% url 'note4'%}" class="btn">ver mas </a>
            </div>

            <div class="box">
                <img src="{% static 'img/pc3.png'%}" alt="notebook lenovo aio ideacentre">
                <h3> LENOVO AIO IDEACENTRE 5I  </h3>
                <div class="price">$1.249.990 <span>$1.699.990</span></div>
                <a href="{% url 'note5'%}" class="btn">ver mas </a>
            </div>

            <div class="box">
                <img src="{% static 'img/note3.png'%}" alt=" imagen notebook gamer acer ">
                <h3>NOTEBOOK GAMER ACER  </h3>
                <div class="price">$1.369.000 <span>$1.799.990</span></div>
                <a href="{% url 'note6'%}" class="btn">ver mas </a>
            </div>
            <div class="box">
                <img src="{% static 'img/note5.png'%}" alt="notebook asus tuf dash ">
                <h3>NOTEBOOK ASUS TUF DASH </h3>
                <div class="price">$569.000 <span>$799.990</span></div>
                <a href="{% url 'note7'%}" class="btn">ver mas </a>
            </div>
            <div class="box">
                <img src="{% static 'img/note2.png'%}" alt="notebook gamer victus ">
                <h3>NOTEBOOK GAMER VICTUS 16 </h3>
                <div class="price">$1.399.000 <span>$1.799.990</span></div>
                <a href="{% url 'note8'%}" class="btn">ver mas </a>
            </div>
            <div class="box">
                <img src="{% static 'img/note1.png'%}" alt="">
                <h3>NOTEBOOK ASUS M415  </h3>
                <div class="price">$569.000 <span>829.990</span></div>
                <a href="{% url 'note9'%}" class="btn">ver mas </a>
            </div>
        </div>
    </section>
    {% endblock %}

</body>

</html>